<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--
        By default, MyBatis caches the result of queries during the scope
        of a SqlSession (which in our case is the same scope as a DB transaction).

        This caching behaviour can lead to unexpected issues when one is not aware
        MyBatis does this. As most developers aren't, we disable this behaviour by
        setting localCacheScope to STATEMENT, which effectively disables this cache.

        See http://www.mybatis.org/mybatis-3/configuration.html
    -->
    <settings>
        <setting name="localCacheScope" value="STATEMENT"/>
    </settings>


</configuration>
